@tailwind base;
@tailwind components;
@tailwind utilities;
img{
     max-height:100%
}

input,textarea,select, option{
    @apply border-2 border-gray-300 rounded-md px-1 w-full mb-2
}
input:focus,textarea:focus, select:focus{
    @apply border-2 border-blue-900
}
h1{
    @apply text-blue-900 mb-2 text-xl
}
label{
    @apply text-blue-900
}
.btn-primary{
    @apply bg-blue-900 text-white px-4 rounded-md py-1
}
table.basic thead tr td{
    @apply bg-blue-100
}
table.basic tr td{
    @apply border border-blue-200 p-1
}
table.basic{
    @apply w-full
}
table.basic a{
    @apply bg-blue-900 text-white text-sm py-1 inline-flex px-2 rounded-md gap-1 mr-1
}
.btn-red{
    @apply bg-red-800 text-white 
}
.btn-default{
    @apply bg-gray-500 text-white
}
.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md

}